@model IEnumerable<IntroToLINQandASPLabs.Models.Actor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actors</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Num of Roles
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEarned)
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEarned)
                <span>M</span>
            </td>

            
            
        </tr>
}
    </tbody>
</table>

<div class="text-center">
    @Html.ActionLink("Highest Paid Actor", "HighestPaidActors")
    @Html.ActionLink("Most Roles", "MostRoles")

</div>
